<html>
    <head>
        <title>Lydia's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lydia's Blog</a></h1>
        </div>

        <div>
            <p>published: 06.01.2018, 12:00</p>
            <h2><a href="">Hey lovely people</a></h2>
            <p>Hey lovely people.</p>
        </div>

        <div>
            <p>published: 06.01.2018, 12:15</p>
            <h2><a href="">Hi St.Louis</a></h2>
            <p>Hi St.Louis, I miss you!.</p>
        </div>
    </body>
</html>