<html>
    <head>
        <title>Cup of Joe Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Cup of Joe Blog</a></h1>
        </div>

        <div>
            <p>published: 06.06.2018, 17:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Hey lovely people, hope you are enjoying a great time in this wonderful summer.</p>
        </div>

        <div>
            <p>published: 06.06.2018, 17:05</p>
            <h2><a href="">My second post</a></h2>
            <p>You know what? I am starting a new job, buying a house A!N!D! getting married this summer. Isn't life too excited to be true?!</p>
        </div>
    </body>
</html>